.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 600px;
  min-height: 500px;
  background: rgba(195, 224, 161, 0.8);
  box-shadow: 30px;
  margin: 100px auto;
  border-radius: 30px;
  box-shadow: 10px 10px 5px rgba(172, 172, 172);
}
.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}
ul {
  list-style: none;
}
li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem
}
.delete {
  color: red;
  cursor: pointer;
  padding-left: 3px;
}
input:checked + span {
  text-decoration: line-through;
}
.form-label {
  padding-top: 20px;
  display: flex;
}
.form-input {
  padding: 15px 32px 15px 16px;
  outline: none;
  width: 320px;
}
button {
  cursor: pointer;
}